---
import { Icon } from 'astro-icon/components';

interface ITag {
  label: string;
  href: string;
}

const tags: ITag[] = [
  { label: 'Мужская одежда', href: '#' },
  { label: 'Трикотаж', href: '#' },
  { label: 'Детская', href: '#' },
  { label: 'Спецодежда', href: '#' },
  { label: 'Прайс', href: '#' },
  { label: 'Акции', href: '#' },
];

const contacts: string[] = ['+7-906-512-25-55', '+7-906-512-25-55'];
---

<div class='hamburger' data-component='hamburger'>
  <div class='hamburger__closed'>
    <button class='hamburger__button' data-hamburger-button>
      <Icon name='menu' />
    </button>
    <div class='hamburger__tags'>
      {
        tags.map(({ label, href }) => (
          <a class='hamburger__tag' href={href}>
            {label}
          </a>
        ))
      }
    </div>
  </div>
  <div class='hamburger__opened'>
    <button class='hamburger__button' data-hamburger-button>
      <span>Закрыть</span>
      <Icon name='close' />
    </button>
  </div>
  <div class='hamburger__tablet tablet-hamburger'>
    <div class='tablet-hamburger__contacts'>
      {
        contacts.map((contact) => (
          <div class='tablet-hamburger__contact'>
            <div class='tablet-hamburger__contact-icons'>
              <a href='#' class='tablet-hamburger__contact-icon'>
                <Icon name='whatsapp' />
              </a>
              <a href='#' class='tablet-hamburger__contact-icon'>
                <Icon name='telegram' />
              </a>
            </div>
            <a href={`tel:${contact}`} class='tablet-hamburger__contact-phone'>
              {contact}
            </a>
          </div>
        ))
      }
    </div>
    <div class='tablet-hamburger__tags'>
      {
        tags.map(({ label, href }) => (
          <a class='tablet-hamburger__tag' href={href} data-overflow-element>
            {label}
          </a>
        ))
      }
    </div>
  </div>
</div>

<style lang='scss'>
  .hamburger {
    overflow: hidden;

    &__closed {
      .open & {
        display: none;
      }

      display: flex;
      align-items: center;
      gap: 4px;

      svg {
        width: 16px;
        height: 6px;
      }

      @include media('lg') {
        display: none !important;
      }
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 8px;
      border-radius: 8px;
      background-color: var(--light);
      padding: 4px 8px;

      font-family: var(--font-primary);
      color: var(--secondary);
      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      height: 28px;

      @include media('md') {
        height: 32px;
      }
    }

    &__tags {
      display: flex;
      align-items: center;
      gap: 4px;
      overflow-x: auto;
      padding-right: 8px;

      @include hideScrollbar();
    }

    &__tag {
      display: flex;
      justify-content: center;
      align-items: center;

      padding: 8px;
      border-radius: 8px;
      background-color: transparent;
      white-space: nowrap;

      font-weight: 800;
      font-size: 12px;
      text-transform: uppercase;
      @include border(1px, var(--light-2));

      @include media('md') {
        font-size: 13px;
        height: 32px;
      }
    }

    &__opened {
      @include media('lg') {
        display: none !important;
      }

      .open & {
        display: flex;
        align-items: center;
        gap: 8px;
      }

      display: none;

      svg {
        width: 10px;
        height: 10px;
      }
    }

    &__tablet {
    }
  }

  .tablet-hamburger {
    display: none;

    @include media('lg') {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    @include media('xl') {
      gap: 8px;
    }

    &__contacts {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__contact {
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 8px;
      overflow: hidden;
      background-color: var(--light);
      padding: 0 10px;
      height: 32px;

      @include media('xl') {
        height: 40px;
      }
    }

    &__contact-icons {
      display: flex;
      align-items: center;
      gap: 4px;
    }

    &__contact-icon {
      color: var(--primary);

      svg {
        width: 16px;
        height: 16px;

        @include media('xl') {
          width: 20px;
          height: 20px;
        }
      }
    }

    &__contact-phone {
      font-weight: 900;
      font-style: italic;
      font-size: 15px;
      text-transform: uppercase;
      color: var(--secondary);
      white-space: nowrap;

      @include media('xl') {
        font-size: 18px;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__tags {
      display: flex;
      align-items: center;
      gap: 8px;
    }

    &__tag {
      flex-shrink: 0;

      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;

      padding: 9px 10px;
      border-radius: 8px;
      background-color: transparent;
      border: 1px solid var(--primary);

      font-weight: 800;
      font-size: 13px;
      text-transform: uppercase;
      color: var(--secondary);
      transition: color 0.3s ease-in-out;

      &:hover {
        color: var(--primary);
      }

      &.active {
        @include border(1px, var(--primary));
        background-color: var(--primary);
        color: var(--white);
      }

      @include media('xl') {
        padding: 12px;
        font-size: 16px;
        height: 40px;
      }
    }
  }
</style>

<script>
  import { overflowItems } from '@/utils/styles';

  document.querySelectorAll<HTMLDivElement>("[data-component='hamburger']").forEach((item) => {
    item.querySelectorAll<HTMLButtonElement>('[data-hamburger-button]').forEach((button) => {
      button.addEventListener('click', () => {
        item.classList.toggle('open');
        document.querySelector("[data-component='header-modal']")?.classList.toggle('open');
        document.querySelector("[data-component='header']")?.classList.toggle('open');
        document.body.classList.toggle('scroll-lock');
      });
    });
  });

  const tagsDesktopContainer = document.querySelector<HTMLDivElement>('.tablet-hamburger__tags');
  if (tagsDesktopContainer) {
    overflowItems(tagsDesktopContainer);
    window.addEventListener('resize', () => overflowItems(tagsDesktopContainer));
  }
</script>
