---
import type { Slide } from '@/components/ui/Slider.astro';
import Slider from '@/components/ui/Slider.astro';
import ShowMoreCatalog from '@/components/ui/ShowMoreCatalog.astro';
import CategoryBlock from '../components/CategoryBlock.astro';
import type { CategoryImageProps } from '../components/CategoryImage.astro';
import CategoryTags from '../components/CategoryTags.astro';
import CategoryImage from '../components/CategoryImage.astro';

interface Props {
  direction?: 'left' | 'right';
}

const { direction = 'left' } = Astro.props;

const hitsImages = import.meta.glob<{ default: ImageMetadata }>('/src/assets/img/home/hits/*.{jpeg,jpg,png,gif}');
const previewHitsimages = import.meta.glob<{ default: ImageMetadata }>(
  '/src/assets/img/home/preview-hits/*.{jpeg,jpg,png,gif}'
);

const imageSrcList: string[] = [
  '/src/assets/img/home/hits/hits-slide-image.png',
  '/src/assets/img/home/hits/hits-slide-image.png',
  '/src/assets/img/home/hits/hits-slide-image.png',
  '/src/assets/img/home/hits/hits-slide-image.png',
  '/src/assets/img/home/hits/hits-slide-image.png',
];

const slides: Slide[] = [
  {
    image: hitsImages[imageSrcList[0]](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImages[imageSrcList[1]](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImages[imageSrcList[2]](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImages[imageSrcList[3]](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
  {
    image: hitsImages[imageSrcList[4]](),
    country: 'Финляндия',
    title: 'Костюм Горка Зима Финл. ПК #309',
    description: 'Морозоустойчивая, Непромокаемая, Дышащая, Морозоустойчивая, Непромокаемая, Дышащая,',
    price: '7 712',
  },
];

const previewProps: CategoryImageProps = {
  backgroundImage: previewHitsimages['/src/assets/img/home/preview-hits/background.png'](),
  description: 'Весной на рыбалке важно не промокнуть, не замёрзнуть и не вспотеть.',
};

const tags: string[] = [
  'одежда для охоты',
  'одежда для охоты',
  'одежда для охоты',
  'одежда для охоты',
  'одежда для охоты',
  'одежда для охоты',
];
---

<CategoryBlock class='category-section' direction={direction}>
  <div slot='left' class='category-section__left'>
    <CategoryImage {...previewProps}>
      <CategoryTags tags={tags} />
    </CategoryImage>
  </div>
  <div slot='right' class='category-section__right right-category-section'>
    <div class='right-category-section__wrapper'>
      <div class='right-category-section__top'>
        <h2 class='title-block'>Одежда Для Рыбалки</h2>
        <p class='subtitle-block'>Текст комментария от нейросети для расшифровки</p>
      </div>
      <CategoryTags aboveImage={false} class='category-section__tags' tags={tags} />
      <Slider class='right-category-section__slider' slides={slides} />
      <ShowMoreCatalog />
    </div>
  </div>
</CategoryBlock>

<style lang='scss'>
  .category-section {
    margin-bottom: 40px;

    @include media('md') {
      margin-bottom: 36px;
    }

    @include media('lg') {
      margin-bottom: 8px;
    }

    &__left {
      @include media('md') {
        margin: 0 -8px;
      }

      @include media('lg') {
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__right {
      @include media('lg') {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__tags {
      display: none;

      @include media('lg') {
        display: flex;
        margin-bottom: 24px;
      }
    }
  }
  .right-category-section {
    @include media('lg') {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__top {
      @include media('lg') {
        margin-bottom: 16px;
      }

      @include media('xl') {
        margin-bottom: 20px;
      }
    }

    &__slider {
      overflow: hidden;
      margin-bottom: 8px;

      @include media('md') {
        margin-bottom: 4px;
      }

      @include media('lg') {
        margin: 0 auto;
        @include adaptiveValue('width', calc(201 * 2), calc(187 * 2), $adaptive-sm, $adaptive-md);
        margin-bottom: 8px;
      }

      @include media('xl') {
        @include adaptiveValue('width', calc(229 * 3), calc(201 * 3), $adaptive-xl, $adaptive-xxl);
      }
    }
  }
</style>
