---
import type { Slide } from '@/components/ui/Slider.astro';
import Slider from '@/components/ui/Slider.astro';
import ShowMoreCatalog from '@/components/ui/ShowMoreCatalog.astro';
import CategoryBlock from '../components/CategoryBlock.astro';
import type { CategoryImageProps } from '../components/CategoryImage.astro';
import CategoryTags from '../components/CategoryTags.astro';
import CategoryImage from '../components/CategoryImage.astro';
import type { Breakpoints } from '@/utils/types';
import { MediaSizesValue } from '@/utils/styles';

export interface CategorySectionProps extends CategoryImageProps {
  direction?: 'left' | 'right';
  slides: Slide[];
  tags: string[];
}

type Props = CategorySectionProps;

const { direction = 'left', tags, slides, ...props } = Astro.props;

const breakpoints: Breakpoints = {
  [MediaSizesValue.MD]: { perPage: 4 },
  [MediaSizesValue.LG]: { perPage: 2 },
  1600: { perPage: 3 },
};
const dataBreakpoints = JSON.stringify(breakpoints);
---

<CategoryBlock class='category-section' direction={direction}>
  <div slot='left' class='category-section__left'>
    <CategoryImage {...props}>
      <CategoryTags tags={tags} />
    </CategoryImage>
  </div>
  <div slot='right' class='category-section__right right-category-section'>
    <div class='right-category-section__wrapper'>
      <div class='right-category-section__top'>
        <h2 class='title-block'>Одежда Для Рыбалки</h2>
        <p class='subtitle-block'>Текст комментария от нейросети для расшифровки</p>
      </div>
      <CategoryTags aboveImage={false} class='category-section__tags' tags={tags} />
      <Slider breakpoints={dataBreakpoints} class='right-category-section__slider' slides={slides} />
      <ShowMoreCatalog />
    </div>
  </div>
</CategoryBlock>

<style lang='scss'>
  .category-section {
    margin-bottom: 40px;

    @include media('md') {
      margin-bottom: 36px;
    }

    @include media('lg') {
      margin-bottom: 8px;
    }

    &__left {
      @include media('md') {
        margin: 0 -8px;
      }

      @include media('lg') {
        margin: 0;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__right {
      @include media('lg') {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__tags {
      display: none;

      @include media('lg') {
        display: flex;
        margin-bottom: 24px;
      }

      @include media('xl') {
        @include adaptiveValue('max-width', calc(229 * 3), calc(201 * 3), $adaptive-xl, $adaptive-xxl);
        margin: 0 auto 24px;
      }
    }
  }
  .right-category-section {
    @include media('lg') {
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__top {
      @include media('lg') {
        margin-bottom: 16px;
      }

      @include media('xl') {
        margin-bottom: 20px;
      }
    }

    &__slider {
      overflow: hidden;
      margin-bottom: 8px;

      @include media('md') {
        margin-bottom: 4px;
      }

      @include media('lg') {
        margin: 0 auto;
        width: calc((100vw - 16px * 2) / 6 * 2);
        margin-bottom: 8px;
      }

      @include media('xl') {
        width: calc((100vw - 16px * 2) / 8 * 3);
      }
    }
  }
</style>
