---
interface Page {
  label: string;
  href?: string;
  done?: boolean;
}

const pages: Page[] = [
  { href: '/', label: 'home' },
  { href: '/inventory', label: 'inventory' },
  { href: '/detail', label: 'detail' },
  { href: '/cart', label: 'cart' },
  { href: '/order', label: 'order' },
  { label: 'SRP' },
  { href: '/contact', label: 'contact' },
  { href: '/blog-archive', label: 'blog-archive' },
  { href: '/blog-single', label: 'blog-single' },
  { href: '/agreement', label: 'agreement' },
  { href: '/services', label: 'services' },
  { href: '/account', label: 'account' },
  { href: '/faq', label: 'faq' },
];

const doneCount = pages.filter(({ done }) => Boolean(done)).length;
const inProgressCount = pages.filter(({ href, done }) => Boolean(href) && !Boolean(done)).length;
const allPagesCount = pages.length;
---

<div class='roadmap'>
  <div class='roadmap__container container'>
    <div class='roadmap__wrapper'>
      <div class='roadmap__info'>
        <div class='roadmap__info-item'>
          <span>done:</span>
          {doneCount}
        </div>
        <div class='roadmap__info-item'>
          <span>in progress:</span>
          {inProgressCount}
        </div>
        <div class='roadmap__info-item'>
          <span>all pages:</span>
          {allPagesCount}
        </div>
      </div>
      <ul class='roadmap__pages'>
        {
          pages.map(({ label, href, done }) => (
            <li>
              {href ? (
                <a
                  href={href}
                  class:list={['roadmap__page', done ? 'roadmap__page_done' : 'roadmap__page_in-progress']}>
                  {label}
                </a>
              ) : (
                <div class='roadmap__page roadmap__page'>{label}</div>
              )}
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</div>

<style lang='scss'>
  .roadmap {
    &__container {
    }

    &__wrapper {
    }

    &__info {
    }

    &__info-item {
      font-weight: 900;
      font-size: 18px;

      span {
        font-weight: 500;
      }
    }

    &__pages {
      padding: 0;
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 6px;
    }

    &__page {
      font-weight: 500;
      font-size: 24px;

      &_in-progress {
      }

      &_done {
        text-decoration: line-through;
      }
    }
  }
  .container {
  }
</style>
