---
import CustomImage from '@/components/shared/CustomImage.astro';
import CardButton from '@/components/ui/CardButton.astro';
import CardContent from '@/components/ui/CardContent.astro';
import type { Slide } from '@/components/ui/Slider.astro';

export interface CardProp extends Slide {
  retail: string;
}

type Props = CardProp;

const { country, title, description, image, price, retail } = Astro.props;
---

<div class='card'>
  <div class='card__image'>
    <CustomImage src={image} alt='image' />
  </div>
  <CardContent class='card__content' title={country} subtitle={title} description={description}>
    <div class='card__footer'>
      <div class='card__actions'>
        <CardButton text='розница' price={retail} type='secondary' />
        <CardButton text='опт' price={price} />
      </div>
    </div>
  </CardContent>
</div>

<style lang='scss'>
  .card {
    padding: 12px 0 24px;

    @include media('md') {
      padding: 0 0 4px;
    }

    @include media('lg') {
      padding: 0;
    }

    &__image {
      position: relative;
      aspect-ratio: 178 / 224;
      width: 100%;

      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__content {
      @include media('md') {
        padding: 6px 16px 16px;
      }

      @include media('xl') {
        padding: 12px 32px 24px;
      }
    }

    &__footer {
      width: 100%;
      display: flex;
      justify-content: center;
    }

    &__actions {
      display: inline-flex;
      flex-direction: column;
      gap: 4px;

      @include media('md') {
        flex-direction: row-reverse;
      }
    }
  }
</style>
